
.header-containter{
    margin: 0 auto;
    width: 100;
    height: 6rem;
    border: 1px solid rgb(232, 232, 232);
}

.header-frame{
    display: flex;
    height: 100%;
}

.header-h1{
    width: 70%;
    height: 100%;
    display: flex; align-items: center; justify-content: center;
}

.h1-frame{
    width: 60%;
    height: 70%;
    display: flex;
}

.header-logo, .header-try, .header-blog, .header-download{
    width: 22%;
    display: flex; align-items: center; justify-content: center;
}

.header-try a, .header-blog a, .header-download a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

.header-try a:hover, .header-blog a:hover, .header-download a:hover{
    color: rgb(46, 133, 221);
}

.header-logo img{
    width: 100%;
}

.header-h2{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center; gap: 2%;
}

.header-h2 button{
    width: 7rem;
    height: 2.5rem;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
}

.sign-b{
    border: 1px solid rgb(0, 109, 219);
    color: rgb(35, 133, 231);
    background-color: white;
}

.sign-b:hover{
    color: rgb(113, 174, 234);
}

.sign-l{
    border: none;
    background-color:rgb(35, 133, 231);
    color: white;
}

.sign-l:hover{
    border: 1px solid rgb(0, 109, 219);
    color: rgb(35, 133, 231);
    background-color: white;    
}

.header-download{
    position: relative;
}

.download-menu{
    border: 1px solid rgb(232, 232, 232);
    background-color: white;
    position: absolute;
    top: 90%; left: 10%;
    width: 120%;
    height: 200%;
    border-radius: 5%;
    display: flex; flex-direction: column; justify-content: space-evenly; gap: 5px;
}

.download-ios, .download-google, .download-mac{
    padding-left: 5px;
    height: 33%;
    display: flex; align-items: center;
}
.download-ios:hover, .download-google:hover, .download-mac:hover{
    background-color: rgba(250, 250, 250, 0.756);
}